* {
  font-size: 1.2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row; /**row default deger*/
  /* flex-direction: row-reverse; */
  background-color: blueviolet;
  /*? sikistirma veya alt satirina gecebilme:flex-wrap: wrap, nowrap, wrap-reverse*/
  flex-wrap: wrap;
  /* align-content: stretch; */
  /*?flex-start, flex-end,center, space-around, space-evenly, space-between */
  justify-content: space-evenly;
  overflow: auto;
  /*?gap, flex içerisindeki elemanların dikey ve yatay boşluklarını belirlemek için kullanılabilir. ilk yazılan yatay (satırlar arası) boşluk, 2. yazılan ise dikey (sutunlar arası) boşluktur */
  /* gap: 40px 80px; */
  margin: 4rem 0 0 0;
}
.container div {
  width: 5rem;
  height: 5rem;
  background-color: rgb(170, 99, 19);
  /* padding: 2rem; */
  margin: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}

/** dikey hizalama */
.container1 {
  height: 20rem;
  background-color: greenyellow;
  display: flex;
  gap: 20px 10px;
  /* padding: 0.5rem; */
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  overflow: auto;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.container1 div {
  width: 5rem;
  background-color: darkorchid;
  height: 5rem;
}

.container2 {
  background-color: darkcyan;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.container2 div {
  width: 5rem;
  background-color: darkgrey;
  flex-grow: 1;
  /** flex-basis item'lara ihtiyaci kadar yer tahsis ediyor veya sadece icerigin buyuklugu kadar bir uzunluk veriyor flex-basis:0;*/
  flex-basis: 0;
}
div.grow2 {
  flex-grow: 2;
}
div.grow3 {
  flex-grow: 3;
}
div.nogrow {
  flex-grow: 0;
}
/** flex-grow */
.container3 {
  background-color: lightblue;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  width: 50vw;
  padding: 0.5rem;
}
.container3 div {
  background-color: hotpink;
}
div .div1 {
  width: 10%;
}
div .div2 {
  width: 20%;
}
div .div3 {
  width: 30%;
}
div .div4 {
  width: 40%;
}
