* {
  font-size: 1.2rem;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row; /**row default deger*/
  /* flex-direction: row-reverse; */
  background-color: blueviolet;
  /*? sikistirma veya alt satirina gecebilme:flex-wrap: wrap, nowrap, wrap-reverse*/
  flex-wrap: wrap;
  /* align-content: stretch; */
  /*?flex-start, flex-end,center, space-around, space-evenly, space-between */
  justify-content: space-evenly;
  overflow: auto;
  /*?gap, flex içerisindeki elemanların dikey ve yatay boşluklarını belirlemek için kullanılabilir. ilk yazılan yatay (satırlar arası) boşluk, 2. yazılan ise dikey (sutunlar arası) boşluktur */
  /* gap: 40px 80px; */
}
.container div {
  width: 5rem;
  height: 5rem;
  background-color: rgb(170, 99, 19);
  /* padding: 2rem; */
  margin: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.container1 {
  display: flex;
  flex-direction: column;
  height: 20rem;
  background-color: greenyellow;
}

.container1 div {
  background-color: darkorchid;
  height: 5rem;
}
