/* body{
    background-image: url("https://picsum.photos/id/1058/600/400");
} */
.container{
    border: 3px solid red;
    width: 20rem;
    height: 20rem;
    background-image: url(./img/resim-2.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: auto;
    /* color: yellow; */
    /* opacity: .5; */
}
#paragraf{
    color: rgba(255, 0, 0, .7);
}
img{
    width: 20%;
}
#img1{
    opacity: .3;
}
#img1:hover{
    opacity: 1;
    transition: all ease-in-out 1s;
}
#img2{
    opacity: .3;
}
#img2:hover{
    opacity: 1;
    transition: all ease-in-out 400ms;
}
#img3{
    opacity: .3;
}
#img3:hover{
    opacity: 1;
    transition: all ease-in-out 2s;
}
#img4{
    opacity: .3;
}
#img4:hover{
    opacity: 1;
    transition: all ease-in-out 200ms;
}